*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-size: 1.17vw;
    /*  -webkit-animation: moveDown 0.6s ease-in-out 0.2s backwards;
    -moz-animation: moveDown 0.6s ease-in-out 0.2s backwards;
      -o-animation: moveDown 0.6s ease-in-out 0.2s backwards;
         animation: moveDown 0.6s ease-in-out 0.2s backwards; */
    scroll-behavior: smooth;
    font-family: sans-serif;
}

::-moz-selection {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::selection {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1,
h2,
h3,
h4 {
    font-family: sans-serif;
    font-weight: 400;
    color: hsla(257, 39%, 7%, 1);
}

#head {
    background-color: #f1f1f1;
    z-index: 2;
}


.logo {
    width: 1px;
    height: 1px;
    margin-top: 0%;
    margin-left: 0%;
    border: 25em solid transparent;
    border-right: 59.79em solid hsla(287, 46%, 32%, 0.96);
    border-top: 11em solid hsla(287, 46%, 32%, 0.96);
    -webkit-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    z-index: -9;
}

.about__container {
    display: table;
    width: 60em;
    margin-top: 14%;
    /* border: 1px solid red; */
    padding-right: 5em;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    color: hsla(261, 34%, 30%, 1);
}

.about__container:before {
    display: table-cell;
    clear: both;
}


/* .about__container:after{
    content: '';
    position: absolute;
    display: inline-block;
    width: 20%;
    height: 30%;
    top: 50%;
    left: 34%;
    transform: rotate(125deg);
    background-color: #f1f1f1;
}
 */

.logo--top1,
.logo--top2 {
    margin: 2px 10px;
    padding: 4px;
}

.logo--top3 {
    margin-top: 6px;
}

.logo--top3,
.logo--top4 {
    margin: 2px 6px;
    padding: 4px;
}

.logo--top1 {
    display: inline-block;
    position: relative;
    width: 300px;
    margin-right: 10%;
    font-size: 1em;
    float: left;
}

.logo--top2 {
    min-width: 25em;
}

.logo--top1 span:first-letter {
    font-family: "Daniel" !important;
    font-size: 5.8em !important;
    margin: 4em;
}

.logo--top3 {
    clear: left;
}

.name {
    /* -webkit-filter: grayscale(1) blur(4px);
    filter: grayscale(1) blur(4px); */
    font-size: 1.120em;
}

.logo:after {
    content: 'Welcome';
    position: absolute;
    top: 2em;
    right: 8.5em;
    font-family: "Daniel";
    font-size: 2.5em;
    font-weight: 600;
    -webkit-transform: rotate(19deg);
    -moz-transform: rotate(19deg);
    -ms-transform: rotate(19deg);
    -o-transform: rotate(19deg);
    transform: rotate(19deg);
    -webkit-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    color: #f2f2f2;
}



.logo:before {
    content: '';
    position: absolute;
    background-image: url("images/Eric.jpg");
    background-position: right 450px top 17%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    padding: 3%;
    top: 1.7em;
    left: 4em;
    /* border: 1px solid hsl(219.4, 28.2%, 51.4%); */
    width: 40%;
    height: 80%;
}



.info__container {
    margin: 0 auto;
    width: 65em;
}




/* MAIN */

#footer {
    position: relative;
    width: 1px;
    height: 1px;
    margin-bottom: 0%;
    margin-right: -4.99%;
    border: 59.88em solid transparent;
    border-right: 24.89em solid hsla(287, 46%, 32%, 0.96);
    border-bottom: 19em solid hsla(287, 46%, 32%, 0.96);
    -webkit-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    z-index: -9;
}


/* @-webkit-keyframes moveDown {
    0% {
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
}

@-moz-keyframes moveDown {
    0% {
        -webkit-transform: translateY(-40px);
        -moz-transform: translateY(-40px);
             transform: translateY(-40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
             transform: translateY(0px);
        opacity: 1;
    }
}

@-o-keyframes moveDown {
    0% {
        -webkit-transform: translateY(-40px);
        -o-transform: translateY(-40px);
           transform: translateY(-40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0px);
        -o-transform: translateY(0px);
           transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes moveDown {
    0% {
        -webkit-transform: translateY(-40px);
        -moz-transform: translateY(-40px);
          -o-transform: translateY(-40px);
             transform: translateY(-40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
          -o-transform: translateY(0px);
             transform: translateY(0px);
        opacity: 1;
    }
} */